*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrap{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    align-content: ;
    /* align-self: center; */
    flex-wrap: wrap-reverse;
}
.item{
    width: 100px;
    height: 100px;
    background-color: aqua;
}